<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Iot
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">
	<div>
	<h3>scale</h3>
	<div/>
	<div>
	<h3>The temperature</h3>
	<div/>
<div/>

<div >
      <img src="/static/image/瑛6.jpg" height="400">
</div>
<h3 class="mr-3 margin-bottom-zero">
	<a href="#" class="no-underline" target="_blank">
	<i class="fab fa-raspberry-pi" color-lightgray></i> RaspberryPi
	</a>
</h3>
<button type="button" class="btn btn-outline-success">提交</button>

{% endblock content %}






