{% load static %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="py-3 bg-light" id="footer>	
	<div class="container">
		<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=6Y6cgIGciJGAh6mPhpGEiICFx4qGhA" style="text-decoration:none;">
			<i class="bi bi-envelope"></i></a>
	</div>
	</div class="container aligin-center">
		<a href="http://github.com/guihuaxin">
			<i class="bi bi-github"></i>
		</a>
		<a href="http://gitee.com/Tangkz">
			<i class="bi bi-github"></i>
		</a>
		<a href="http://twitter.com">
			<i class="bi bi-twitter"></i>
		</a>
	</div>	
    <div class="container">
        <p class="mb-0 text-center text-dark">Copyright &copy; 2021~2021 guihuaxin</p>
		<p class="mb-0 text-center">Powered by
			<!--<span class="mb-0">
				<a href="#" style="color: lightskyblue;" target="_blank">&nbsp;湘ICP备001号-1</a>
			</span>-->
        </p>
	</div>
</footer>