{% load static %}
<!-- Footer -->
<div>
	<br><br><br>
</div>
<div class="container">
    <hr style="margin: 0;">
</div>

<nav class="navbar navbar-light mb-0 bg-light" id="nav-footer" style="background-color: white">
    <div class="row col justify-content-center">
		<!-- email -->
        <h3 class="mr-3 margin-bottom-zero">
            <a href="mailto:guihuaxin@foxmail.com" class="no-underline">
                <i class="fas fa-envelope font-size-sm color-lightgray"></i>
            </a>
        </h3>
		<!-- github -->
        <h3 class="mr-3 margin-bottom-zero">
            <a href="https://github.com/guihuaxin" target="_blank"
				class="no-underline">
				<i class="fab fa-github font-size-sm color-lightgray"></i>
            </a>
        </h3>
		<!-- gitee -->
        <h3 class="mr-3 margin-bottom-zero">
            <a href="https://gitee.com/Tangkz" target="_blank"
				class="no-underline">
				<i class="fab fa-git-square"></i>
            </a>
        </h3>
		<!-- weibo -->
        <h3 class="mr-3 margin-bottom-zero">
            <a href="//weibo.com/u/6418680446" target="_blank"
				class="no-underline">
                <i class="fab fa-weibo font-size-sm color-lightgray"></i>
            </a>
        </h3>
		<!-- QQ -->
        <h3 class="mr-3 margin-bottom-zero">
            <a href="#" class="no-underline">
                <i class="fab fa-qq font-size-sm  color-lightgray"></i>
            </a>
        </h3>
        <h3 class=" margin-bottom-zero">
            <a href="#" class="no-underline" data-toggle="modal" data-target="#QR-footer">
                <i class="fab fa-weixin font-size-sm color-lightgray"></i>
            </a>
        </h3>
    </div>

    <div class="row col-12 justify-content-center font-size-xs">
        <div style="text-align: center; color: lightgrey;">
            <p class="mb-0">Copyright &copy; 2021~2021 guihuaxin</p>
            <p class="mb-0">Powered by</p>
        </div>
    </div>
</nav>



